<h1>Users</h1>
<%= link_to "Home", root_path %>
<% @users.each do |user| %>
  <p>
    <%= user.email %>
  </p>
<% end %>
<% if admin_signed_in? %>
  <%= link_to "Loggout", sign_out_path %>
<% else %>
  <%= link_to "Loggin", sign_in_path %>
<% end %>