
name: github-actions-rails-mysql

on:
  pull_request:
    branches: ['*']
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DB: fidelity_plan_test
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby 2.6.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.7
          bundler: default
          bundler-cache: true
      - name: Verify MySQL connection from host
        run: |
          sudo apt-get install -y mysql-client libmysqlclient-dev
          mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot -proot -e "SHOW GRANTS FOR 'root'@'localhost'"
          mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot -proot mysql
      - name: Bundle Install and Create DB
        env:
          RAILS_ENV: test
          DB_PASSWORD: root
          # tell Rails to use proper port for MySQL
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
        run: |
          cp config/database.sample.yml config/database.yml
          gem install bundler --version 2.2.20 --no-rdoc
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3 --path vendor/bundle
          bin/rails db:prepare
      - name: Run tests
        env:
          DB_PASSWORD: root
          DB_PORT: ${{ job.services.mysql.ports[3306] }} # get randomly assigned published port
        run: |
          bundle exec rspec
          bin/rails db:schema:load

